<% if @user.role == "admin" %>

<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sku</th>
      <th>Price</th>
      <th colspan="5">Images</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, edit_admin_product_path(product) %></td>
        <td><%= product.sku_id %></td>
        <td><%= product.price %></td>
        <% product.images.pluck('img_path').each do |path| %>
        <!-- <td><img src="#{path}", width="50" , height="50"></img></td> -->
        <td><%= image_tag "#{path}", width: "50px", height: "50px" %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @products %>

<% else %>

<h1 style="color: red;">Unauthorized access!</h1>

<% end %>
